#principal{
 font-family:sans-serif;  
 font-weight:bolder;

}

#contenido{
    width: 700px !important;
    grid-template: 0 !important;
}

#barra{
    width:100% !important;
}

button{
    background-color: green !important;
    border: none !important;
    
}

body{
    background-color: #fffff0;
}
